.info-block {
  margin: 1rem;

  table {
    width: 100%;

    tbody {
      border-radius: 10px;
    }

    td {
      padding: 0.4rem 2rem;
      background-color: white;
    }

    th {
      min-width: 50%;
      padding: 0.4rem 1rem;
      background-color: rgba($color: white, $alpha: 0.7);
    }

    tr:first-child {
      th {
        border-top-left-radius: 10px;
      }
      td {
        border-top-right-radius: 10px;
      }
    }

    tr:last-child {
      th {
        border-bottom-left-radius: 10px;
      }
      td {
        border-bottom-right-radius: 10px;
      }
    }
  }
}
