.stats {
  width: 100%;
  background-color: gray;

  tbody {
    width: 100%;
  }

  td {
    padding: 0.4rem 2rem;
    background-color: white;
  }

  th {
    padding: 0.4rem 1rem;
    background-color: lightgray;
  }
}
