@charset "utf-8";
@import '~bulma/bulma.sass';

.types-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.types {
  width: 100px;
  height: 22px;
  margin: 0.1rem;
  background-repeat: no-repeat;
}

.types-en {
  background-image: url('../assets/types/en.png');
}

.types-grass {
  background-position: 99.901% 50%;
}

.types-poison {
  background-position: 59.98% 1.087%;
}
